@charset "UTF-8";

/* 回答はここに書いてね */
.base{
background-color: #eff3f4;
padding: 20px;
}

.table{
  display: table;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.table:first-child{
  margin-top: 0;
}

.cell{
  display: table-cell;
  padding: 20px 0;
}

.orange_box{
  background-color:#fdc8b8;
  width: 100px;
}
.pink_box{
  background-color:#e0abd9;
}
.blue_box{
  background-color: #b6d8ed;
  width: 100px;
}
.yellow_box{
  background-color: #e5d32e;
}
.red_box{
  background-color: #ec8f9a;
}
.green_box{
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
