@charset "UTF-8";

/* 回答はここに書いてね */
.table{
  table-layout: fixed;
  width: 100%;
  text-align: center;
}


tbody tr td{
  font-size:16px;
  line-height:22px;
}

.table th{
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px
}

th, td{
  border: solid 1px #dedede;
  padding: 10px 0;
}

tbody tr:nth-child(even){
  background-color: #ecf1f2;
}


tbody tr:last-child{
  border-top: dashed #000 2px;
}


/* 回答はここに書いてね */
